* {
    font-family: system-ui;
}

body {
    margin: 0 auto;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #985b02;
}

.project-container .screen {
    position: relative;
    width: 70%;
    height: 70%;
    border: 20px solid black;
    background-color: #444e50;
}

.project-container .screen > .helper-container {
    margin-top: 10%;
    margin-left: 10%;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6a7976;
    border-radius: 10px;
    border: 2px solid #000;
}

.project-container .screen > .helper-container > .warten-text {
    padding-top: 2rem;
    height: 30%;
    font-size: xxx-large;
    text-align: center;
    width: 70%;
}

.project-container > .screen > .helper-container > .loadbox {
    top: 2rem;
    margin-bottom: 6rem;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    color: #f0d723;
    border: 2px solid;
    position: relative;
}

.project-container > .screen > .helper-container > .loadbox::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: p6 6s;
}
@keyframes p6 {
    100% {inset:0}
}

.project-container > .screen > .helper-container > .loadbox > #load-text {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bolder;
    padding-top: 9px;
}

.project-container > .screen > .helper-container > #change {
    width: 80%;
    height: 15%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#change * {
    cursor: pointer;
    height: 5rem;
}

.project-container > .screen > .helper-container > #change > .coin-pictures {
    height: 5rem;
    width: 5rem;
}

.appear-coin {
    display: block;
    animation: 1s animateOpacity;
}

@-webkit-keyframes animateOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.disappear-coin {
    display: none;
}


.project-container > .screen > #bottom-buttons {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.project-container > .screen > #bottom-buttons > .left-bottom {
    flex-basis: auto;
    width: 45%;
    text-align: right;
}

.project-container > .screen > #bottom-buttons > .right-bottom {
    flex-basis: auto;
    width: 45%;
}

.project-container > .screen > #bottom-buttons .btn-bottom {
    width: 65%;
    background-color: #f0d723;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: unset;
}

.project-container > .screen > #bottom-buttons .btn-bottom-deactivated {
    width: 65%;
    background-color: #e9e9a7;
    opacity: 0.3;
    height: 3rem;
    border-radius: 20px;
    cursor: not-allowed;
    font-weight: bold;
    font-size: unset;
}

.project-container > .screen > #bottom-buttons > .btn-bottom > .bottom-btn-content {
    float: left;
    padding-left: 1rem;
}