* {
    font-family: system-ui;
}

body {
    margin: 0 auto;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #985b02;
}

.project-container .screen {
    position: relative;
    text-align: center;
    width: 70%;
    height: 70%;
    border: 20px solid black;
    background-color: #444e50;
}

.project-container .screen > .helper-container {
    margin-top: 18%;
    margin-left: 10%;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6a7976;
    border-radius: 10px;
    border: 2px solid #000;
}

.project-container .screen > .helper-container > .warten-text {
    height: 10%;
    font-size: xxx-large;
    text-align: center;
    width: 50%;
}

.project-container > .screen > .helper-container > .loadbox {
    top: 5rem;
    width: 80%;
    height: 20%;
    border-radius: 20px;
    color: #f0d723;
    border:2px solid;
    position: relative;
}

.project-container > .screen > .helper-container > .loadbox::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:p6 4.5s infinite;
}
@keyframes p6 {
    100% {inset:0}
}

