* {
    font-family: system-ui;
}

body {
    margin: 0 auto;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #985b02;
}

.project-container .screen {
    position: relative;
    width: 70%;
    height: 70%;
    border: 20px solid black;
    background-color: #444e50;
}

.project-container > .screen > #header {
    padding-left: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: small;
}

.project-container > .screen > .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2rem;
    width: 10%;
    height: 100%;
    background-color: #878876;
}

.project-container > .screen > .sidebar > #bvg-logo {
    background-color: #f0d723;
    height: 10%;
    position: relative;
}

.project-container > .screen > .sidebar > #bvg-logo > #helper1 {
    position: absolute;
    height: 50%;
    width: 95%;
    text-align: center;
    bottom: 15px;
    font-size: 2.5rem;
    font-weight: bolder;
}

.project-container > .screen > .ticket-container {
    background-color: #6a7976;
    width: 70%;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid #000;
    margin-left: 4rem;
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

.project-container > .screen > .ticket-container > .lef-content {
    flex-basis: auto;
    width: 33%;
}
.project-container > .screen > .ticket-container > .center-content {
    flex-basis: auto;
    width: 33%;
}
.project-container > .screen > .ticket-container > .right-content {
    flex-basis: auto;
    width: 33%;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content {
    padding-right: 2.5rem;
    padding-left: 1rem;
    flex-direction: column;
    height: 80px;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .berlin-line {
    font-weight: bold;
    font-size: unset;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #6a7976;
;}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc > .abc-left {
    border: 1px solid black;
    width: 33%;
    height: 50px;
    background-color: #6f2905;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc > .abc-center{
    border: 1px solid black;
    width: 33%;
    height: 50px;
    margin-left: 5px;
    background-color: #063027;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc >.abc-right {
    border: 1px solid black;
    width: 33%;
    height: 50px;
    margin-left: 5px;
    background-color: #2b480a;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc > #noC {
    visibility: hidden;
}

.project-container > .screen > .ticket-container .streckencontent > .center-inner-content > .abc > #noA {
    visibility: hidden;
}

.project-container > .screen > .ticket-container  div .btn {
    background-color: #f0d723;
    height: 3rem;
    width: 85%;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: unset;
}

.project-container > .screen > .ticket-container > .center-content:first-child {
    padding-left: 13.5rem;
}

.project-container > .screen > #bottom-buttons {
    width: 70%;
    margin-left: 4rem;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    padding-top: 3rem;
}

.project-container > .screen > #bottom-buttons > .left-bottom {
    flex-basis: auto;
    width: 50%;
}

.project-container > .screen > #bottom-buttons > .right-bottom {
    flex-basis: auto;
    width: 50%;
    text-align: end;
}

.project-container > .screen > #bottom-buttons .btn-bottom {
    width: 95%;
    background-color: #f0d723;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: unset;
}

.project-container > .screen > #bottom-buttons > .btn-bottom > .bottom-btn-content {
    float: left;
    padding-left: 1rem;
}

